<footer class="row mt-3 pt-2 mx-0" style="background-color:#0B7CCA;">
    <div class="container">
    <div class="row my-5">
        <div class="col-md-4 text-light text-center">
            <h4>AMACIMIZ</h4>
            <hr>
            Türkiye'de çevrim içi yardım sistemi oluşturma amacıyla bu platformu geliştirmeye başladık. Türkiye'deki yardımsever kurumlar ve bireylerin yardıma muhtaç insanlara daha kolay ve kısa zamanda ulaşabilmesini, insanları yardımseverlik konusunda bilinçlendirmeyi amaçlıyoruz. Şu anda x adet Vakıf ve y adet yardım sever birey ile beraber z vaka üzerinde çalışıyoruz. Sizde bize katılabilirsiniz.<br/>
        </div>
        <div class="col-md-4 text-light text-center">
            <h4>MENÜ</h4>
            <hr>
            <nav class="text-center">
                <a class="nav-link active text-white" aria-current="page" routerLink="anasayfa">Anasayfa</a>

                <a class="nav-link text-white" routerLink="hakkimizda">Hakkımızda</a>
                <a class="nav-link text-white" routerLink="istekler">Vakıflar</a>
                <a class="nav-link text-white" routerLink="iletisim">İletişim</a>
        </nav>
        </div>

        <div class="col-md-4 text-light">
            <nav class="">
                <h4 class="text-center">İLETİŞİM</h4>
                <hr>
                <nav class="text-center">
                        <p><i class="fas fa-phone mr-2"></i> <a class="text-decoration-none text-light" href="tel:"> Tel : 0000 000 00 00 </a></p>
                        <p><i class="fas fa-phone mr-2"></i> <a class="text-decoration-none text-light" href="tel:">Gsm : 0000 000 00 00  </a></p>
                        <p><i class="far fa-envelope mr-2"></i> <a class="text-decoration-none text-light" href="mailto:"> E-posta : mainexample@gmail.com</a></p>
                        <p><a class="text-decoration-none text-light" href=""></a></p>  
                </nav>
            </nav>
            
        </div>
    </div>
</div>
<div class="row py-3 text-light text-center" style="background-color:#043e68;">
    <p class="text-center">2021 © Copyrigt El Ver. Tüm hakları saklıdır.</p>

</div>
</footer>


