<div class="bg-image p-5 text-center justify-content-center shadow-1-strong mb-3 text-white" style="background-image: url(assets/static/images/help.jpg);font-size:33px;">
    <h1 class="h2"><b>Hakkımızda</b></h1>
    <div class="under m-0 p-0"></div>
</div>

<div class=" border container">
    <!-- Tab content -->
        <h2 class="text-center">Biz Kimiz?</h2>
        <p> &nbsp;&nbsp;
        İnfernal ekibi Türkiye'de çevrim ici yardım sistemi oluşturmak isteyen 3 kişiden oluşmaktadır. Şu anda sadece web üzerinde hizmet vermekteyiz. Bizlere çevrim içi hizmetimizi kullanarak ya da reklam vererek katkıda bulunabilirsiniz. 
            <ul class="t">
                <li>Yardıma muhtaç çocuklara umut ışığı olun.</li>
                <li>Eğitime katkıda bulunun.</li>
                <li>Şiddete maruz kalmış bireylere yardım edin.</li>
                <li>Her bireyin özel olduğunu ve dünyamıza katkıda bulunacaklarına inanıyoruz. Biz umutluyuz sizde umutlu olun umut verin.</li>		
            </ul>
            &nbsp;&nbsp; Sadece maddi yardımlar ile değil manevi katkılar ile de umut ışığı oluşturabilirsiniz. Eğer avukatsanız şiddete maruz kalmış bireyler için gönüllü avukatlık hizmeti verebilirsiniz. Bir öğretmen olarak öğretmen sayısının yetersiz olduğu yerlerde gönüllü ders verebilirsiniz. Belki de ücretsiz olarak verdiğiniz bir çiçek tohumu sayesinde ekosistemi korumamıza yardımcı olabilirsiniz.

        <h2 class="text-center">Amacımız Nedir?</h2>
        <p >&nbsp;&nbsp; Türkiye'de çevrim içi yardım sistemi oluşturma amacıyla bu platformu geliştirmeye başladık. Türkiye'deki yardımsever kurumlar ve bireylerin yardıma muhtaç insanlara daha kolay ve kısa zamanda ulaşabilmesini, insanları yardımseverlik konusunda bilinçlendirmeyi amaçlıyoruz. Şu anda x adet Vakıf ve y adet yardım sever birey ile beraber z vaka üzerinde çalışıyoruz. Sizde bize katılabilirsiniz.</p>
      </div>