<div class="bg-image text-center justify-content-center shadow-1-strong mb-3 text-white d-flex " style="background-image: url(assets/static/images/as.jpg);font-size:33px; height: 550px;">

  <div class="under m-0 p-0 justify-content-center align-self-center" style="background-color: rgba(0, 0, 0, 0.7); width: 100%; height: 100%;">
    <div class="row align-items-center h-100">
      <div class="col-6 mx-auto">
          <div class="jumbotron">
            <i> Yüzlerce Vakıf</i> 
            <br>
            <i> Onbinlerce Yardıma Muhtaç İnsan... </i> 
              
          </div>
      </div>
  </div>
  </div>
</div>
<app-our></app-our>
<app-vakif></app-vakif>