<nav class="navbar navbar-expand-lg sticky-top" style="background-color:#0B7CCA;">
   
    <div class="container">

      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" >
        <i class="fas fa-bars text-white"></i>
      </button>

      <div class="collapse navbar-collapse justify-content-end text-white" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0 mr-0">
      <li class="nav-item">
        <a class="nav-link active text-white" aria-current="page" routerLink="anasayfa">Anasayfa</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="hakkimizda">Hakkımızda</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="istekler">Vakıflar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="iletisim">İletişim</a>
      </li>
        </ul>
      </div>
    </div>
  </nav>
  <div style="width: 100%; height: 3px; background-color: black;-webkit-box-shadow: 2px 2px 16px 0px rgba(0,0,0,0.41); 
  box-shadow: 2px 2px 16px 0px rgba(0,0,0,0.41);">

  </div>