<div class="bg-image p-5 text-center justify-content-center shadow-1-strong mb-3 text-white" style="background-image: url(assets/static/images/req.jpg);font-size:33px;">
    <h1 class="h2"><b>Yardım İstekleri & Kampanyaları</b></h1>
    <div class="under m-0 p-0"></div>
</div>

<div class="col-sm-11 mx-auto">

    <div class="row">
      <!-- Gallery item -->
          <div class="col-sm mb-3 border">
        <div class="bg-white product">
          <img src="assets/static/images/a.png" alt="" class="img-fluid card-img-top">
          <div class="p-4">
            <h5> <a href="#" class="text-dark">Ekosistem</a></h5>
            <p class="small text-muted mb-0">Küresel ısınmayı geciktirmek için ormanlara bağış kampanyası.</p>
            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
              <a class="btn btn-primary" style="background-color: #55acee" href="#!" role="button">Detay</a>
              <a class="btn btn-primary" style="background-color: #55acee" href="#!" role="button">Bağış</a>
            </div>
          </div>
        </div>
          </div>
          <!-- End -->
          <!-- Gallery item -->
          <div class="col-sm mb-3 border mx-1">
        <div class="bg-white product">
          <img src="assets/static/images/b.png" alt="" class="img-fluid card-img-top">
          <div class="p-4">
            <h5> <a href="#" class="text-dark">Köy Okulu</a></h5>
            <p class="small text-muted mb-0">Köy okuluna kitap kampanyası</p>
            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
              <a class="btn btn-primary" style="background-color: #55acee" href="#!" role="button">Detay</a>
              <a class="btn btn-primary" style="background-color: #55acee" href="#!" role="button">Bağış</a>
            </div>
          </div>
        </div>
          </div>
          <!-- End -->
          <!-- Gallery item -->
          <div class="col-sm mb-3 border mx-1">
        <div class="bg-white product">
          <img src="assets/static/images/c.jpg" alt="" class="img-fluid card-img-top">
          <div class="p-4">
            <h5> <a href="#" class="text-dark">Tıp</a></h5>
            <p class="small text-muted mb-0">Psikiyatrik tedavi görmesi gereken insanlar için fon</p>
            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
              <a class="btn btn-primary" style="background-color: #55acee" href="#!" role="button">Detay</a>
              <a class="btn btn-primary" style="background-color: #55acee" href="#!" role="button">Bağış</a>
            </div>
          </div>
        </div>
          </div>
          <!-- End -->
                <!-- Gallery item -->
          <div class="col-sm mb-3 border mx-1">
        <div class="bg-white product">
          <img src="assets/static/images/d.jpg" alt="" class="img-fluid card-img-top">
          <div class="p-4">
            <h5> <a href="#" class="text-dark">Yoksul insanlar</a></h5>
            <p class="small text-muted mb-0">Yoksul insanlara yardım kampanyası</p>
            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
              <a class="btn btn-primary" style="background-color: #55acee" href="#!" role="button">Detay</a>
              <a class="btn btn-primary" style="background-color: #55acee" href="#!" role="button">Bağış</a>
            </div>
          </div>
        </div>
          </div>
          <!-- End -->
    </div>	
</div>